.about {
    margin-top: 10rem;
    text-align: center;
}

.about .title {
    font-size: 32px;
    font-weight: 600;
    color: var(--main2);
    margin-top: 4rem;
    margin-bottom: 20px;
}

.about .leadership .card {
    border: none !important;
    margin-top: 10px;
    background-color: #f3fdfd;
    border-radius: 10px;
    padding: 20px;
}

.about .leadership .row .card {
    margin-top: 30px;
}

.about .card .card-title {
    color: #616161;
    margin-top: 20px;
    font-size: 18px;
}

.about .leadership .card span {
    color: #868585;
    font-size: 16px;
}

.about .leadership .card p {
    margin-top: 10px;
}

.about .leadership .card img {
    height: 100px;
    width: 100px;
    border: 3px solid var(--main1);
    border-radius: 50%;
    margin-top: -65px;
}

.about .value .card {
    padding: 20px;
    padding-bottom: 40px;
    background-color: #f3fdfd;
    border: none;
}

.about .value .card img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.about .contact {
    padding: 0 80px;
}

.about .contact .submitBtn {
    background-color: var(--main2);
    color: white;
    padding: 5px 30px;
}