.candidateProfileBanner .companyInfo img {
    border: 4px solid white;
}

.candidateProfileBanner .candidateProfileBannerBtnDiv {
    margin-top: 40px;
}

.profileDescription h4 {
    color: #3a3a3a;
    font-size: 22px;
}

.profileDescription .companyInfoArea table {
    font-size: 14px;
}

.profileDescription .companyInfoArea table a {
    color: #3e3e3e;
    margin: 0 2px;
}

@media (max-width: 576px) {
    .profileDescription h4 {
        font-size: 18px;
    }

    .profileDescription .companyInfoArea table {
        font-size: 12px;
    }
}