:root {
    --main1: #F28A1F;
    --main2: #0D9CA4;
}

.scrolledNav {
    background-color: var(--main2);
    transition: all 0.4s ease-out;
}

.navbar-nav > li {
    padding: 0 15px;
}

.navbar .active {
    border-bottom: 1px solid white;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    border-bottom: 1px solid white;
}

.collapseBg {
    background-color: #f3f3f3 !important;
    border: 1px solid #1cbbb4;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
}

.navbar-toggler {
    background: #f3f3f3 !important;
}

.collapseBg .nav-link {
    color: black !important;
}

.subBanner {
    margin-top: 99px;
    min-height: 270px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 2px solid var(--main2);
}

.subBannerContent {
    padding: 90px 0;
    color: white;
}

.subBannerContent p {
    color: white;
}

.footer {
    padding: 40px;
    color: #848383;
    font-size: 14px;
}

.footerBottom {
    padding: 30px 0;
    background-color: var(--main1);
    text-align: center;
    color: #f4f4f4;
    font-size: 14px;
}

.footerDes {
    padding: 30px;
}

.footerDes span {
    margin-right: 30px;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    padding-bottom: 7px;
}

.footer .candidatesCol {
    margin-left: 40px;
}

.footer button {
    background-color: var(--main1);
    color: white;
    width: 100%;
    margin-top: 20px;
}

.accordion {
    border: 1px solid #e5e5e5;
}

.accordion .accordion-button:not(.collapsed) {
    background-color: transparent !important;
    border: none !important;
}

.accordion .accordion-button, .accordion .accordion-item {
    border: none !important;
}

.accordion .accordion-item .accordion-button:focus {
    border: none !important;
}

.form-control, .form-select, .form-check-input, .accordion-button, input[type=range]:focus {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #e1e1e1 !important;
}