:root {
    --main1: #F28A1F;
    --main2: #0D9CA4;
    --secondary: #0D9CA450
}

.nav-link {
    font-weight: 500;
}

.registerBtn {
    background-color: white;
    padding: 0 25px;
    border-radius: 0;
    color: var(--main2);
    font-weight: 600;
}

.findJobBtn {
    background: var(--main1) !important;
}

.category img {
    width: 140px;
}

.hero_single {
    height: 700px !important;
}

.bannerTitle {
    font-size: 70px !important;
}

.categoryTitle {
    color: var(--main2);
    font-weight: 600;
    font-size: 35px;
}

.categoryTitleSuccess {
    color: var(--main1);
    font-weight: 600;
    font-size: 35px;
}

.subTitle {
    color: #6B6B6B;
}

.summary {
    margin-top: 50px;
    background: var(--main1);
    color: white;
}

.summary .container .row {
    padding: 50px 0;
}

.summary .container img {
    height: 80px;
}

.pricing {
    padding: 90px 0;
}

.pricing .header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main1);
    padding: 5px 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.pricing .headerTwo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main2);
    padding: 5px 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.pricing .card-title {
    color: #6B6B6B;
    font-weight: 500;
}

.pricing img {
    width: 160px;
}

.pricing .card-body span {
    border: 1px solid #6B6B6B;
    padding: 2px 5px;
    border-radius: 5px;
    margin: 4px;
    color: #6B6B6B;
}

.featureJobTitle {
    color: var(--main1);
    font-weight: 600;
    font-size: 35px;
}

.pricingTitle {
    color: var(--main2);
    font-weight: 600;
    font-size: 35px;
}

.cardPrice {
    font-size: 60px;
    font-weight: 700;
    color: #6B6B6B;
}

.pricing .card-footer {
    background-color: var(--main2);
    color: white;
    font-size: 14px;
    border: none;
}

.pricing .card-footer-secondary {
    background-color: var(--secondary);
    color: var(--main2);
    font-size: 14px;
    border: none;
}

.marketing1 {
    width: 100%;
    padding: 90px 0;
    background-color: var(--main2);
}

.marketing2 {
    width: 100%;
    padding: 90px 0;
    background-color: var(--main1);
}

.marketing1 p, .marketing2 p {
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.marketing1 button {
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    padding: 3px 14px;
    margin: 0;
    color: var(--main2);
    margin-top: 1rem;
}

.marketing2 button {
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    padding: 3px 14px;
    margin: 0;
    color: var(--main1);
    margin-top: 1rem;
}

.jobs {
    padding: 50px 0;
    background-color: var(--main2);
}

.jobsTitle {
    color: white;
    font-weight: 600;
    font-size: 35px;
}

.jobs .subTitle {
    color: #f4f4f4;
}

.jobs .card {
    background-color: transparent;
    border-color: white;
    color: white;
}

.jobs img {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.jobs .card-footer {
    border: none;
}

.downloads {
    padding: 70px 0;
}

.downloadsTitle {
    color: var(--main1);
    font-weight: 600;
    font-size: 40px;
}

.downloadText {
    font-size: 14px;
    color: #848383;
}

.downloads button {
    background-color: var(--main1);
    color: white;
    font-size: 14px;
    padding: 10px 16px;
    margin: 0 10px;
}

.downloads button i {
    font-size: 18px;
}

.howItWorks {
    background-color: var(--main2);
    padding: 50px 0;
}

.howItWorks h2 {
    color: white;
    font-weight: 600;
    font-size: 35px;
}

.howItWorks .subTitle, .howItWorkDes {
    color: #f4f4f4;
}

.howItWorkDes span {
    font-size: 13px;
}

.howItWorks img {
    width: 100px;
}

.client {
    padding: 90px 0;
}

.client img {
    width: 80px;
    height: 80px;
    border: 3px solid var(--main1);
    border-radius: 50%;
    object-fit: contain;
}

.client small {
    color: gray;
    font-weight: bold;
}

.clientMsg {
    margin-top: 10px;
    font-size: 13px;
    color: #848383;
}

.icons {
    padding: 40px 50px;
    background-color: var(--main1);
}

.icons img {
    width: 50px;
    margin-right: 10px;
}

.icons span {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.banner .css-1652iut-control {
    border: none !important;
}

.banner .css-1652iut-control:focus {
    border: none !important;
}