.jobDescription {
    padding: 60px 0;
    color: #7f7f7f;
}

.jobDescription h4 {
    font-weight: 600;
    padding: 10px 0;
    color: black;
}

.jobDescription p {
    line-height: 26px;
}

.jobDescription ul {
    padding: 0 20px;
    line-height: 26px;
    font-size: 14px;
}

.jobDescription .companyPhoto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jobDescription .companyPhoto img {
    height: 150px;
    flex-basis: 30%;
}

.jobDescription .tags span {
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 0 5px;
}

.jobDescription .socialArea .shortListBtn {
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 30px;
}

.jobDescription .card {
    border-color: #e8e8e8;
    color: #5d5d5d;
}

.jobDescription .card .candidateAlert .apply {
    margin-top: 40px;
    color: #5d5d5d;
}

.jobDescription .card .candidateAlert .apply p span {
    font-size: 14px;
    color: #313131;
}

.jobDescription .card .candidateAlert .apply .applyBtn {
    background-color: var(--main1);
    border: none;
    color: white;
}

.jobDescription .card .candidateAlert .apply .shortlistBtn {
    border: none;
}

.jobDescription .card .candidateAlert .content span {
    font-size: 15px;
}

.jobDescription .card .candidateAlert .content .des span {
    margin-left: 10px;
    text-align: left;
}

.jobDescription .card hr {
    color: #a09d9d;
}

.jobDescription .apply .applyWith {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.jobDescription .apply .applyWith button {
    width: 47%;
    color: white;
}

.jobDescription .apply .applyWith .facebook {
    background-color: #3b5998;
}

.jobDescription .apply .applyWith .google {
    background-color: #DB4437;
}

.jobDescription .apply .applyWith .linkedin {
    background-color: #0072b1;
}

.jobDescription .apply .applyWith .twitter {
    background-color: #00acee;
}

.jobDescription .companyInfoArea .headerArea p {
    color: #00be00;
    font-size: 16px;
    margin-top: 10px;
}

.jobDescription .companyInfoArea img {
    height: 120px;
    width: auto;
    border-radius: 50%;
}

.jobDescription .companyInfoArea .content i {
    font-size: 36px;
    margin-right: 20px;
    color: #4ac84a;
}

.jobDescription .socialArea .socialIcons ul li a {
    padding: 6px;
    font-size: 16px;
}

.jobDescription .socialArea .socialIcons ul li .facebook {
    background-color: #3b5998;
}

.jobDescription .socialArea .socialIcons ul li .twitter {
    background-color: #00acee;
}

.jobDescription .socialArea .socialIcons ul li .linkedin {
    background-color: #0072b1;
}

.jobDescription .socialArea .socialIcons ul li .pinterest {
    background-color: #c8232c;
}

@media (max-width: 576px) {
    .jobDescription {
        padding: 30px 0;
    }
    .jobDescription h4 {
        font-size: 18px;
    }
    .jobDescription p {
        line-height: 24px;
    }
    .jobDescription ul {
        padding: 0 20px;
        line-height: 24px;
        font-size: 12px;
    }
    .jobDescription .companyPhoto {
        flex-wrap: wrap;
    }
    .jobDescription .companyPhoto img {
        width: 200px;
        flex-basis: 30%;
    }
    .jobDescription iframe {
        width: 400px;
    }
    .jobDescription .tags span {
        padding: 2px 5px;
    }
    .jobDescription .socialArea .shortListBtn {
        font-size: 12px;
        padding: 5px 15px;
    }
    .jobDescription .card {
        margin-top: 20px !important;
    }
    .jobDescription .card .candidateAlert .apply p span {
        font-size: 12px !important;
    }
    .jobDescription .card .candidateAlert h5 {
        font-size: 16px !important;
    }
    .jobDescription .card .candidateAlert .apply .applyBtn {
        background-color: var(--main1);
        border: none;
        color: white;
    }
    .jobDescription .card .candidateAlert .content span {
        font-size: 12px;
    }
    .jobDescription .card .candidateAlert .content .des span {
        margin-left: 10px;
        text-align: left;
    }
    .jobDescription .companyInfoArea img {
        height: 70px;
    }
    .jobDescription .companyInfoArea .content i {
        font-size: 25px;
        margin-right: 20px;
    }
    .jobDescription .apply .applyWith {
        margin-top: -25px !important;
    }
    .jobDescription .companyInfoArea iframe {
        width: 100% !important;
    }
    .jobDescription .socialArea .socialIcons {
        margin-top: 30px;
    }
    .jobDescription .socialArea > .d-flex {
        margin-top: -20px;
    }
    .jobDescription .socialArea .socialIcons ul li a {
        padding: 3px;
        font-size: 13px;
    }
}