.login {
    margin: 10rem 0;
}

.login .nav-tabs .nav-item .active {
    color: #717171 !important;
}

.login h4 {
    font-size: 26px;
    font-weight: 600;
    color: var(--main2);
}

.login h4 {
    font-size: 26px;
    font-weight: 600;
    color: var(--main2);
}

.login input {
    font-size: 14px;
    height: 45px;
}

.login button {
    background-color: var(--main2);
    color: white;
    padding: 5px 40px;
}

.login button:hover {
    background-color: var(--main2);
    color: #e8e8e8;
}

.login .form-label {
    float: left;
    font-size: 14px;
    color: #484848;
}

.login form .errorMsg {
    color: red;
    font-size: 14px;
    text-align: left;
}

.login .socialIcons ul li .facebook {
    background-color: #3b5998;
}

.login .socialIcons ul li .twitter {
    background-color: #00acee;
}

.login .socialIcons ul li .linkedin {
    background-color: #0072b1;
}

.login .socialIcons ul li .pinterest {
    background-color: #c8232c;
}

.login input::-webkit-outer-spin-button,
.login input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}