.progress-section {
    width: 100%;
    border-radius: 15px;
    padding: 0 1rem;
    padding-bottom: 20px;
    margin: 0 auto;
}

.task-progress {
    margin: 1.5rem 0;
}

.task-progress p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #484848;
}

.progress-section span {
    color: #00be00;
}

.progress-section .progress {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 10px;
    height: 10px;
}

.progress::-webkit-progress-bar {
    background-color: #f0f0f0;
}

.progress::-webkit-progress-bar,
.progress::-webkit-progress-value {
    border-radius: 10px;
}

.progress::-moz-progress-bar {
    border-radius: 10px;
}

.progress::-webkit-progress-value {
    background: #00be00;
}
