.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 7px;
    cursor: default;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #d3d3d3;
    font-size: 22px;
    padding: 2px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
    color: #fac51b;
}
