/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    /*homePage*/
    .header {
        width: 100vw !important;
    }
    .navbar img {
        width: 130px!important;
    }
    .navbar-toggler {
        padding: 4px!important;
        font-size: 12px!important;
    }
    .navbar .nav-link {
        color: #848383 !important;
        font-size: 12px !important;
    }
    .navbar .registerBtn {
        font-size: 12px !important;
    }
    .navbar .dropdown-menu {
        background-color: transparent !important;
    }
    .navbar .dropdown-menu li a {
        font-size: 11px !important;
        color: #848383 !important;
        font-weight: 500;
    }
    .banner h3 {
        margin-top: 0 !important;
        font-size: 30px !important;
    }
    .banner.version_2 {
        height: 550px !important;
    }
    .custom-search-input-2 i {
        font-size: 12px !important;
        line-height: 12px !important;
        padding-right: 5px !important;
        display: block;
        width: 14px !important;
        height: 28px !important;
    }
    .custom-search-input-2 input {
        height: 30px !important;
        font-size: 12px !important;
    }
    .custom-search-input-2 .col-lg-3 .input-group span {
        margin-top: 5px !important;
    }
    .css-b62m3t-container {
        width: 90%;
    }
    /*homeJobs*/
    .jobs {
        padding: 30px 0 !important;
    }
    .jobs .jobsTitle {
        font-size: 20px !important;
    }
    .jobs img {
        width: 60px !important;
        margin-top: 10px !important;
    }
    .jobs .card {
        margin-top: 10px !important;
    }
    .jobs .card-title {
        font-size: 16px !important;
    }
    .jobs .card-body span, .jobs .card-footer, .jobs .card-body .subTitle {
        font-size: 12px !important;
    }
    .jobs .homeJobList .wishListImg img {
        width: 30px !important;
    }
    .jobs .homeJobList a {
        font-size: 12px !important;
    }
    /*downloads*/
    .downloads {
        padding: 30px 0 !important;
    }
    .downloadsTitle {
        font-size: 20px !important;
    }
    .downloadText {
        font-size: 12px !important;
    }
    .downloads button {
        font-size: 10px !important;
        padding: 5px !important;
        margin: 0 5px !important;
    }
    /*category*/
    .category img {
        width: 70px !important;
    }
    .category {
        margin: 10px !important;
        padding: 0 !important;
        padding-top: 30px!important;
    }
    .categoryContainer {
        padding-top: 10px!important;
    }
    .categoryContainer .col {
        margin-top: 20px !important;
    }
    .moreCategoryLink {
        padding-top: 10px!important;
    }
    /*summary*/
    .summary {
        margin-top: 40px !important;
        height: 250px !important;
    }
    .summary .container .row {
        padding-top: 50px !important;
    }
    .summary .container .col {
        margin-top: 10px !important;
    }
    .summary .container img {
        height: 50px !important;
    }
    /*pricing*/
    .pricing {
        padding: 40px 0 !important;
    }
    .pricing .row {
        margin-top: 20px !important;
    }
    .pricing .card {
        margin-top: 10px !important;
    }
    .pricing .header, .pricing .headerTwo {
        padding: 0 5px !important;
        font-size: 12px !important;
    }
    .pricing img {
        width: 100px !important;
    }
    .pricing .card-body span {
        padding: 0 2px !important;
        border-radius: 5px !important;
        margin: 2px !important;
        font-size: 12px !important;
    }
    .pricingTitle {
        font-size: 25px !important;
    }
    .cardPrice {
        font-size: 30px !important;
    }
    .pricing .card-footer {
        font-size: 12px !important;
    }
    /*howItWorks*/
    .howItWorks {
        padding: 50px 0 !important;
    }
    .howItWorks h2 {
        font-size: 22px !important;
    }
    .howItWorks h5 {
        font-size: 16px !important;
    }
    .howItWorks img {
        width: 50px !important;
    }
    .howItWorkDes{
        padding: 0 !important;
        font-size: 12px !important;
    }
    /*client*/
    .categoryTitle {
        font-size: 22px !important;
    }
    .subTitle {
        font-size: 14px !important;
    }
    .client {
        padding: 40px 0 !important;
    }
    .client .row {
        padding: 0 !important;
    }
    .client h5{
        font-size: 15px;
    }
    .client img {
        width: 70px !important;
        height: 70px !important;
    }
    .clientMsg {
        margin-top: 10px !important;
        font-size: 12px !important;
    }
    /*icons*/
    .icons {
        padding: 30px 20px !important;
    }
    .icons img {
        width: 35px !important;
    }
    .icons span {
        font-size: 16px !important;
    }
    /*homePageEnd*/

    /*subBanner*/
    .subBanner {
        margin-top: 65px!important;
        min-height: 140px !important;
    }
    .subBannerContent {
        padding: 40px 0 !important;
    }
    .subBannerContent p {
        font-size: 12px !important;
    }
    .subBannerContent h1 {
        font-size: 18px !important;
    }

    /*profileBanner*/
    .profileBanner {
        margin-top: 30px;
    }
    .profileBanner .profileBannerContent {
        padding-top: 60px;
    }
    .profileBanner .profileBannerContent .companyInfo {
        height: 140px;
    }
    .profileBanner .profileBannerContent .companyInfo img {
        height: 70px;
        width: 80px;
    }
    .profileBanner .profileBannerContent .companyInfo .companyDes h3 {
        font-size: 18px;
    }
    .profileBanner .profileBannerContent .companyInfo .companyDes p {
        font-size: 12px;
    }
    .profileBanner .profileBannerContent .deadline {
        padding-top: 30px;
    }
    .profileBanner .profileBannerContent .deadline .applyBtn {
        font-size: 12px;
        padding: 5px 15px;
    }
    .profileBanner .profileBannerContent .deadline .shortListBtn {
        font-size: 12px;
        padding: 5px 15px;
        margin-left: 10px;
    }

    /*jobsPage*/
    .jobsFilter {
        padding-top: 20px !important;
        margin-bottom: 30px !important;
    }
    .jobsFilter input {
        height: 28px !important;
        font-size: 12px !important;
    }
    .css-b62m3t-container {
        margin-top: 5px !important;
        font-size: 12px !important;
    }
    .filterButtons {
        margin-top: 15px !important;
    }
    .jobsFilter .filterBtn {
        font-size: 12px !important;
        padding: 5px 15px !important;
    }
    .jobsFilter .advancedBtn {
        font-size: 12px !important;
        padding: 5px 15px !important;
        margin-left: 10px !important;
    }
    .jobsFilter .listFilter {
        padding-top: 10px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .jobsFilter .listFilter .filterSelect {
        margin-left: auto !important;
        margin-right: 20px !important;
    }
    .jobsFilter .listFilter .d-flex {
        flex-basis: 70% !important;
    }
    .rss {
        font-size: 12px !important;
    }
    .jobsFilter .listFilter .css-b62m3t-container {
        font-size: 12px !important;
        margin-left: 20px !important;
        width: 100% !important;
    }
    .jobList .list .row {
        height: 200px !important;
    }
    .jobList .list .link {
        margin-top: -40px !important;
    }
    .jobList .list .link a {
        font-size: 12px;
    }
    .applyArea {
        padding: 5px 0 !important;
        font-size: 12px !important;
    }
    .applyArea button {
        border-radius: 10px !important;
        padding: 5px 10px !important;
        font-size: 12px !important;
        float: right !important;
        margin-top: -5px !important;
    }

    /*profileBanner*/
    .companyProfileBanner .profileBannerContent {
        padding-top: 65px;
    }
    .companyProfileBanner .profileBannerContent .companyCounts div {
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .companyProfileBanner .profileBannerContent .companyInfo img {
        width: 80px;
    }
    .companyProfileBanner .profileBannerContent .companyDes {
        font-size: 12px;
    }
    .companyProfileBanner .profileBannerContent .applyBtn {
        font-size: 12px;
        padding: 7px 15px;
    }
    .companyProfileBanner .profileBannerContent .shortListBtn {
        font-size: 12px;
        padding: 7px 15px;
    }
    .companyProfileBanner .profileBannerContent .companyCounts div p {
        font-size: 18px !important;
        line-height: 2px;
    }
    .companyProfileBanner .profileBannerContent .companyCounts div span {
        font-size: 12px;
    }

    /*worker jobs list page*/
    .workerTitle {
        font-size: 18px;
    }

    /*star-rating*/
    .star-rating label {
        font-size: 18px !important;
    }

    /*footer*/
    .footer .container {
        padding: 0;
    }
    .footer img {
        width: 130px !important;
    }
    .footerDes {
        padding: 20px 0;
        padding-bottom: 0;
    }
    .footerDes span {
        margin-right: 17px;
        font-size: 12px;
    }
    .footerBottom {
        font-size: 12px;
    }
    .footer button {
        font-size: 12px;
        margin-top: 10px;
    }
    .footer input {
        font-size: 12px;
    }
    .footer ul li {
        font-size: 12px;
        padding-bottom: 5px;
    }
    .footer p {
        font-size: 12px;
    }
    .footer .candidatesCol {
        margin-left: 20px;
    }
    .social-menu {
        margin-bottom: 30px !important;
    }
    .social-menu ul li a{
        width: 30px;
        height: 30px;
        font-size: 18px;
    }

    /*pagination*/
    .pagination {
        margin-top: 20px !important;
    }
    .pagination a, .pagination span {
        font-size: 12px !important;
        height: 30px !important;
        line-height: 30px !important;
        min-width: 30px !important;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {

}

/*X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1400px) {

}