header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 30px;
    z-index: 99999999;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

@media (max-width: 767px) {
    header.header {
        padding: 15px 15px 5px 15px;
    }
}

.banner {
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0;
    color: #fff;
}

.banner .wrapper {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%
}

.banner .wrapper h3 {
    color: #fff;
    font-size: 3.25rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.banner .wrapper p strong {
    font-weight: 600;
}

.banner.short {
    height: 600px;
}

.banner.version_2 {
    height: 620px;
    background: #222 url("../../images/banner.jpg") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner.version_2 .wrapper {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
}

.banner.version_2 .wrapper p strong {
    font-weight: 600;
}

.custom-search-input-2 {
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 991px) {
    .custom-search-input-2 {
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

.custom-search-input-2 input {
    border: 0;
    height: 50px;
    padding-left: 15px;
    border-right: 1px solid #d2d8dd;
    font-weight: 500;
}

@media (max-width: 991px) {
    .custom-search-input-2 input {
        border: none;
    }
}

.custom-search-input-2 input:focus {
    box-shadow: none;
    border-right: 1px solid #d2d8dd;
}

@media (max-width: 991px) {
    .custom-search-input-2 input: focus {
        border-right: none;
    }
}

.banner .categorySelect {
    font-weight: 500;
    color: #6f787f;
    height: 100%;
}

.banner .categorySelect {
    background-color: white !important;
}

.custom-search-input-2 .form-group {
    margin: 0;
}

@media (max-width: 991px) {
    .custom-search-input-2 .form-group {
        margin-bottom: 5px;
    }
}

.custom-search-input-2 i {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 18px;
    position: absolute;
    background-color: #fff;
    line-height: 50px;
    top: 1px;
    right: 1px;
    padding-right: 15px;
    display: block;
    width: 20px;
    box-sizing: content-box;
    height: 48px;
    z-index: 9;
    color: #999;
}

@media (max-width: 991px) {
    .custom-search-input-2 i {
        padding-right: 10px;
    }
}

.custom-search-input-2 input[type='submit'] {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border: 0;
    padding: 0 25px;
    height: 50px;
    cursor: pointer;
    outline: none;
    width: 100%;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background-color: #004dda;
    margin-right: -1px;
}

@media (max-width: 991px) {
    .custom-search-input-2 input[type='submit'] {
        margin: 20px 0 0 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
    }
}

.custom-search-input-2 input[type='submit']:hover {
    /*background-color: #FFC107;*/
    color: #e5e5e5;
}

.form-group {
    position: relative;
}