.timeline {
    border-left: 1px solid #00be00;
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: white;
    border: 2px solid #00be00;
    left: -28px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    content: "";
}

.timeline .title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    color: #1c1c1c;
}

.timeline .title span {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 17px;
    color: #5f5f5f;
}

@media (max-width: 576px) {
    .timeline .timeline-item:after {
        height: 13px;
        width: 13px;
    }
    .timeline .title {
        font-size: 16px;
    }
    .timeline .title span {
        font-size: 15px;
    }
}