:root {
  --primary: #F28A1F;
  --secondayTextColor: '#6B6E6F';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeBanner {
  height: 700px;
  background: url("./assets/images/home/bannerBg.png") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navItem {
  padding: 0 25px;
  color: #1e1e1e;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  transition: 0.2s;
}

.navItem:hover {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}

.primaryBtn {
  background-color: var(--primary) !important;
  text-transform: none !important;
  color: white !important;
  padding: 12px 42px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  border-radius: 7px !important;
}

.secondaryBtn {
  border-color: var(--primary) !important;
  text-transform: uppercase !important;
  color: var(--primary) !important;
  padding: 12px 42px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  border-radius: 7px !important;
}

.container {
  padding: 0 140px;
}

.secondaryText {
  color: var(--secondayTextColor);
}

.navBar {
  background: transparent !important;
  box-shadow: none !important;
  margin-top: 20px;
}

.homeSearchBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  width: 80%;
  height: 52px;
  background-color: white;
  border-radius: 6px;
  padding-left: 10px;
}

.title {
  color: #000;
  font-size: 30px;
  font-weight: 500;
}

@media (max-width: 576px) {
  .navBar {
    box-shadow: none;
    padding: 0 !important;
    margin-top: 20px;
  }
  .homeBannerManImg {
    display: none;
  }
}
